<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">        

        <div class="card card-primary">
          <div class="card-header"><h4>Register</h4></div>

          <div class="card-body">
            <form >
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" [(ngModel)]="email" class="form-control" name="email">
                <div class="invalid-feedback">
                </div>
              </div>

            
                <div class="form-group">
                  <label for="user_name">Username</label>
                  <input id="user_name"  type="text" [(ngModel)]="username" class="form-control" name="username" autofocus>
                </div>
             

              <div class="row">
                <div class="form-group col-6">
                  <label for="password" class="d-block">Password</label>
                  <input id="password"  type="password" [(ngModel)]="password" class="form-control pwstrength" data-indicator="pwindicator" name="password">
                  <div id="pwindicator" class="pwindicator">
                    <div class="bar"></div>
                    <div class="label"></div>
                  </div>
                </div>
                <div class="form-group col-6">
                  <label for="password2" class="d-block">Password Confirmation</label>
                  <input id="password2" [(ngModel)]="confirmpassword" type="password" class="form-control" name="password-confirm">
                </div>
              </div>

              <!-- <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="agree" class="custom-control-input" id="agree">
                  <label class="custom-control-label" for="agree">I agree with the terms and conditions</label>
                </div>
              </div> -->

              <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">
                  Register
                </button>
              </div>

              <div class="text-center mt-4 mb-3">
                <a [routerLink] = "['/login']">Login</a>
              </div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>